<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Tools4Libraries" version="1.0.18" targetFramework="net452" />
  <package id="Websockets.Pcl" version="1.1.9" targetFramework="net451" developmentDependency="true" />
</packages>